/* General Project Page Styles */
.projects-page {
  padding: 20px 0;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2c3e50;
  text-transform: uppercase;
  margin-bottom: 30px;
  background: linear-gradient(90deg, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  color: transparent;
}

.project-card {
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.project-image {
  height: 300px;
  object-fit: cover;
}

mat-card-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 15px 0;
  text-align: center;
}

mat-card-subtitle {
  font-size: 1rem;
  color: #7f8c8d;
  text-align: center;
}

mat-card-content {
  flex-grow: 1;
  padding-top: 10px;
  font-size: 1rem;
  color: #555;
  overflow-y: auto;
}

mat-expansion-panel {
  margin-top: 15px;
}

mat-expansion-panel-header {
  background-color: #f5f5f5;
  font-size: 1rem;
  font-weight: 600;
  color: #2c3e50;
}

mat-expansion-panel-body {
  font-size: 1rem;
  color: #555;
}

/* Company Experience Section Styles */
.company-experience {
  background-color: #f8f9fa;
}

.company-card {
  background: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 400px;
  max-width: 300px;
  margin: 0 auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.company-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.company-logo img {
  max-width: 100px;
  margin-bottom: 20px;
}

.company-name {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.company-duration,
.company-role,
.company-description {
  font-size: 1rem;
  color: #555;
}

@media (max-width: 768px) {
  .company-logo img {
    max-width: 80px;
  }

  .company-name {
    font-size: 1.4rem;
  }

  .company-duration,
  .company-role,
  .company-description {
    font-size: 0.9rem;
  }
}
