<!-- my-education.component.html -->
<div class="container mt-5">

  <div class="education-timeline mt-5">
    <div *ngFor="let education of educationList" class="education-card">
      <div class="timeline-content">
        <div>
          <img
            [src]="education.logo"
            alt="{{ education.institution }} logo"
            class="college-logo"
          />
        </div>
        <h3 class="education-degree section-title ">{{ education.degree }}</h3>
        <p class="institution-name">{{ education.institution }}</p>
        <p class="education-duration">{{ education.duration }}</p>
        <p class="education-description">{{ education.description }}</p>
        <div class="education-highlights">
          <strong>Key Highlights:</strong>
          <ul>
            <li *ngFor="let highlight of education.highlights">
              {{ highlight }}
            </li>
          </ul>
        </div>
        <a
          [href]="education.website"
          target="_blank"
          class="btn btn-primary"
          *ngIf="education.college === 'lpu'"
          >Visit LPU</a
        >
        <a
          [href]="education.website"
          target="_blank"
          class="btn btn-primary"
          *ngIf="education.college === 'shu'"
          >Visit SHU</a
        >
      </div>
    </div>
  </div>
</div>
